<tr class="sonata-ba-view-container">
    <th>Image</th>
    <td>
        <a download href="{{ admin.image }}" target="_blank">
            <img src="{{ admin.image }}" style="width: 100%;height: auto;max-width: 500px"
                 alt="Denunciation-image"/>
        </a>
    </td>
</tr>
