<tr class="sonata-ba-view-container">
    <th>Audio</th>
    <td>
        <audio controls="controls" autobuffer="autobuffer">
            <source src="{{ admin.audio }}" />
        </audio>
    </td>
</tr>

